# Increase log verbosity
log_level = "{{ nomad_log_level }}"
bind_addr = "{{ nomad_bind_address }}"

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  http = "{{ nomad_advertise_address }}:4646"
  rpc = "{{ nomad_advertise_address }}:4647"
  serf = "{{ nomad_advertise_address }}:4648"
}

# Setup data dir
data_dir = "{{ nomad_data_dir }}"
datacenter = "{{ nomad_datacenter }}"

{% if nomad_server|default(true) %}
# Enable the server 
server {
    enabled = true
    bootstrap_expect = 1
    # Self-elect, should be 3 or 5 for production
}
{% endif %}

{% if nomad_client|default(true) %}
# Enable the client
client {
    enabled = true
    servers = ["{{ ansible_eth0['ipv4']['address'] }}"] 
    options {
        "docker.cleanup.image" = "1"
        "driver.raw_exec.enable" = "1"
        }
}
{% endif %}
